#top-bar {
    margin: 0 auto;
    padding: 0 auto;
}
#HNDLogo {
    padding-top: 0.7em;
    display: block;
    margin: 0 auto;
}
#title-bar {
    text-align: center;
}
#assignmentsList {
    margin: auto;
    width: 85%;
}
.handIn {
    color: red;
    font: bold;
}
.handOut {
    color: rgb(0, 255, 34);
    font: bold;
}
.assignmentInfo {
    margin: 0;
    padding: 0.5rem;
}
/* .assignmentInfo:nth-child(even) {
    background-color: white;
} */
.assignmentContent {
    background-color: #9E9E9E;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.assignmentContent:nth-child(odd) {
    background-color:#4CAF50;
    color: white;
}
.assignmentNameAndNumber {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0rem;
}