#top-bar {
    margin: 0 auto;
    padding: 0 auto;
}
#HNDLogo {
    padding-top: 0.7em;
    display: block;
    margin: 0 auto;
}
#title-bar {
    text-align: center;
}
#assignmentsList {
    margin: auto;
    width: 70%;
}
.handIn {
    color: greenyellow;
    font: bold;
}
.handOut {
    color: red;
    font: bold;
}