/* HOME/INDEX */
#top-bar {
    margin: 0 auto;
    padding: 0 auto;
}
#HNDLogo {
    padding-top: 0.7em;
    display: block;
    margin: 0 auto;
}
#title-bar {
    text-align: center;
}
.cardInfo {
    margin: 0 auto;
    display: block
}
.announcementsFrontPage {
    padding: 0.5rem;
}
.announcementsFrontPage:nth-child(even) {
    background-color: #BDBDBD;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

/* ASSIGNMENTS */
#assignmentsListHNDY1 {
    margin: auto;
}
#assignmentsListHNDY2 {
    margin: auto;
}
#assignmentsListBSCHONS {
    margin: auto;
}
.handIn {
    color: red;
    font: bold;
}
.handOut {
    color: rgb(0, 255, 34);
    font: bold;
}
.assignments {
    padding: 0.5rem;
    margin: 0.5rem;
}
.assignments:nth-child(odd) {
    background-color: #BDBDBD;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

/* ANNOUNCEMENTS */
.announcements {
    padding: 0.5rem;
}
.announcements:nth-child(odd) {
    background-color: #BDBDBD;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}