			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="img/profBg.jpeg" />
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
								<img class="profile-thumbnail" src="img/HNDLogo.png" />
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
								<strong id="currentUser"></strong>
								<span class='subline'>Super Power User</span>
							</div>
						</div>
					</div>
				</div>

				<div data-role="listview" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<ul data-role="listview" data-inset="false" data-icon="false">
						<li><a href="index.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-home zmd-fw"></i> Home</a></li>
						<li><a href="announcements.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-flag zmd-fw"></i> Announcements</a></li>
						<li><a href="assignments.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-assignment-o zmd-fw"></i> Assignments</a></li>
						<li><a href="calendar.html" data-ajax='false'><i class="zmdi zmdi-calendar zmd-fw"></i> Calendar</a></li>
						<li><a href="forums.html" data-ajax='false'><i class="zmdi zmdi-comments zmd-fw"></i> Forums</a></li>
						<li><a href="updates.html" data-ajax='false'><i class="zmdi zmdi-star-circle zmd-fw"></i> Updates</a></li>
					</ul>
				</div>
				<!-- <script>
						var currentUser = document.getElementById("currentUser");
						currentUser.innerHTML = firebase.auth().currentUser.email;
					</script> -->
			<!-- /panel left -->
